
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentExam</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    @if (@ViewBag.error != null)
    {
        <div class="alert alert-danger">
            <strong>Danger!</strong> @ViewBag.error
        </div>
    }




    @using (Html.BeginForm())
    {


        <div class="container">
            <br />
            <br />

            <h1 style="text-align:center;color:#ffffff;font-family:Algerian">Enter Room Number</h1>

            <input type="text" id="room" name="room" placeholder="Room Number" class="form-control" />

            <br />
            <br />


            <input type="submit" value="SUBMIT" class="btn btn-info btn-block" />


        </div>
    }
</body>
</html>

@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>StudentExam</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />



        @*<style>
            body {
                /*background-image: url('../../Content/img/blue-quiz-background-with-light-bulb-pencils_23-2147598504.jpg' );
                background-size: cover;*/
            }
        </style>*@
@*</head>
    <body>
        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger">
                <strong>Danger!</strong> @ViewBag.error
            </div>
        }

        @using (Html.BeginForm())
        {
            <div class="container">
                <h1 style="text-align:center;color:#ff6a00 ;font-family:Algerian">Enter Room Number</h1>
                <br />
                <input type="text" id="room" name="room" placeholder="Room Number" class="form-control" />
                <br />
                <button type="submit" class="btn btn-info btn-block">Submit</button>

            </div>
        }
    </body>
    </html>*@
